body{
    margin: 0%;
}
.conteiner{
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 914px;
}
.borde{
    border: 5px solid black;
}
.titulo{
    background-color: #555;
    height: auto;
}
.seccion-1{
    flex-direction: column;
    width: 100%;
    height: 55%;
}
.seccion-b{
    height: 100%;
}
.seccion-a{
    display: none;
}
.seccion-2{
    justify-content: center;
    width: 100%;
    height: 45%;
}
.seccion-cd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
}
.seccion-c{
    width: 50%;
    height: 100%;
}
.seccion-d{
    width: 50%;
    height: 100%;
}
.seccion-e{
    height: 50%;
}


@media only screen and (min-width: 600px) {
    body{
        width: 100%;
        height: 100%;
    }
    .seccion-1{
        flex-direction: row;
        height: 70%;
    }
    .seccion-a{
        width: 30%;
        height: 100%;
        display: grid;
    }
    .seccion-b{
        width: 70%;
        height: 100%;
    }
    .seccion-2{
        flex-direction: row;
        width: 100%;
        height: 30%;
    }
    .seccion-c{
        width: 50%;
        height: auto;
    }
    .seccion-d{
        width: 50%;
        height: auto;
    }
    .seccion-e{
        width: 33%;
        height: auto;
    }
    .seccion-cd{
        width: 66%;
        height: 100%;
    }
    
}