*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-size: 36px;
  text-align: center;
}
h2 {
  font-size: 32px;
  text-align: center;
}
p {
  font-size: 16px;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(255, 217, 0);

}

/* NAVBAR */
#navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  width: 100%;
  height: 15vh;
  background-color: rgb(177, 12, 12);
}
#navbar img{
  border-radius: 50%;
  height: 100%;
}
#navbar h1 a{
  color: rgb(255, 255, 255);
}
#navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
#navbar ul li a {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}
#navbar ul li a:hover {
  color: #dff884;
}
#navbar ul li a.actual {
  color: rgb(255, 255, 255);
  border: solid 2px #dff884;
  border-radius: 5px;
}
 /* SECTION */
 section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75vh;
  align-items: center;
  justify-content: center;
  background-image: url("carrito-super.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}


/* HOME */
.showcase {
  text-align: center;
  color: white;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(177, 12, 12);
}
