body {
    text-align: center;
    background-color: beige;
}
h1 {
    background-color: aqua;
    color: blue;
}
.parrafo_con_clase {
    text-align: right;
    color: brown;
}
img {
    float:left;
    height: 300px;
    width: 300px;
}
#parrafo_con_id {
    text-align: right;
}