div.encabezado{
    display: flex;
    flex-direction: row;
    background-color: #000007;
    padding: 5px;
    width: 100%;
    height: 5%;
}
div.logo{
    background-color: aqua;
    width: 10%;
    height: 100%;
    border-color: solid 5px #000007;
}
div.titulo{
    background-color: azure;
    width: 90%;
    height: 100%;
}
div.catalogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}
div.producto{
    width: 25%;
    height: auto;
}