body{
    background-image: url(crumpled-white-paperboard.jpg);
}
div.boxStandar{
    border: solid 5px #000000;
    border-radius: 5px;
    margin: 5px;
}
div.titulo{
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
div.seccion{
    width: 48%;
    height: 100%;
    display: inline-block;
    text-align: center;
}
div.imagen{
    width: 250px;
    height: 250px;
    border: solid 5px #000000;
    border-radius: 10px;
    float: left;
}
img{
    width: 250px;
    height: 250px;
}
div.parrafo{
    width: 250px;
    text-align: center;
    display: inline-block;
}
div.pie-de-pagina{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}
.subtitulo{
    text-align: center;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffff00;
}
